<!-- <p>add-tem works!</p> -->


<a routerLink="/cart" style="color:orangered ; font-weight:bolder ; "><button class="btn btn-warning btn-lg" style="margin-top:200px; margin-left:300px" >Go to Cart</button></a>

<!--
<div>
<div *ngIf="flag " class="alert alert-danger" role="alert" style="margin-top: 77px; display: inline-block;">
  already in cart! <a routerLink="/cart" style="color:orangered ; font-weight:bolder ;"><button class="btn btn-warning" >Go to Cart</button></a>
  </div>

<div *ngIf="!flag" class="alert alert-success" role="alert" style="margin-top: 77px; display: inline-block;">
    Item Added Successfully! <a routerLink="/cart" style="color:orangered ; font-weight:bolder ;"><button  class="btn btn-warning" >Go to Cart</button></a>
  </div>
</div>-->